extends layout_login

block content
    container.col-md-12
        br
        br

        div.col-lg-8.col-lg-offset-2(style="margin-top:80px")

            h2 Register new account to tracko
            br
            if (msg != undefined)
                .alert.alert-warning(role="alert") #{msg}
                br

            form(name="login", method="post", action="/login/")

                div.col-lg-6
                    #e1
                        p Personal information *
                            div.input-md-12
                                input(type="text", name="fname", placeholder="First name").form-control
                                br
                                input(type="text", name="lname", placeholder="Last Name").form-control
                    br
                    #e2
                        p Location
                            div.input-lg-12
                                input(type="text", name="country", placeholder="Country").form-control
                                br
                                input(type="text", name="city", placeholder="City").form-control
                    br
                    #e3
                        p Company
                            div.input-lg-12
                                input(type="text", name="company", placeholder="Company").form-control
                    br
                    #e4
                        p Tracker serial id *
                            div.input-lg-12
                                input(type="text", name="company", placeholder="Company").form-control
                    br



                div.col-lg-5.col-lg-offset-1
                    #e5
                        p Login information *
                            div.input-lg-12
                                input(type="text", name="email", placeholder="email").form-control
                    br
                    #e6
                        p Password (twice) *
                            div.input-lg-12
                                input(type="password", name="password", placeholder="Password").form-control
                                br
                                input(type="password", name="password", placeholder="Password").form-control

                    br
                    #e7
                        p.text-muted
                            i
                                All fields with a * are required.

                    br
                    div.actions
                        input(type="submit", value="Register").btn.btn-success

                    br
                    #e3
                        a(href='dashboard/login') I have an account
                        br
                        a(href='/') Back to home page

